*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    min-height:100vh;
    background:radial-gradient(circle at top right,#2563eb,#020617);
    color:white;
}

.top-nav{
    max-width:1200px;
    margin:auto;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:22px;
    font-weight:700;
    color:#93c5fd;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:12px;
}

.avatar{
    width:38px;
    height:38px;
    border-radius:50%;
    border:2px solid #93c5fd;
    object-fit:cover;
}

.tabs{
    max-width:1200px;
    margin:10px auto;
    padding:0 20px;
    display:flex;
    gap:12px;
}

.tab{
    padding:10px 18px;
    border-radius:20px;
    background:rgba(255,255,255,0.15);
    font-size:14px;
    cursor:pointer;
}

.tab:hover{
    background:#3b82f6;
    /* font-weight:600; */
}

.filter{
    max-width:1200px;
    margin:auto;
    padding:0 20px 20px;
    display:flex;
    gap:14px;
    align-items:center;
    font-size:14px;
}

.filter select{
    padding:10px;
    border-radius:10px;
    border:none;
    background:rgba(255,255,255,0.2);
    color:white;
}

select option{
    color:black;
}

.cards {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}


.card{
    background:rgba(255,255,255,0.14);
    border-radius:20px;
    padding:22px;
    backdrop-filter:blur(14px);
    box-shadow:0 25px 50px rgba(0,0,0,0.3);
}

.card-header{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:14px;
}

.card-header img{
    width:50px;
    height:50px;
    border-radius:50%;
    border:2px solid #93c5fd;
}

.card h3{
    font-size:18px;
}

.card p{
    font-size:14px;
    color:#cbd5f5;
    margin:6px 0;
}

.learn{color:#a7f3d0;}
.teach{color:#93c5fd;}

.match{
    margin-top:14px;
    font-size:13px;
    color:#e5e7eb;
}

.progress{
    background:rgba(255,255,255,0.2);
    border-radius:10px;
    height:8px;
    margin-top:6px;
    overflow:hidden;
}

.progress span{
    display:block;
    height:100%;
    background:#3b82f6;
}

.actions{
    margin-top:16px;
    display:flex;
    gap:10px;
}

.btn{
    flex:1;
    padding:10px;
    border-radius:10px;
    border:none;
    font-size:14px;
    cursor:pointer;
    font-weight:600;
}

.btn-view{
    background:rgba(255,255,255,0.2);
    color:white;
}

.btn-request{
    background:#3b82f6;
    color:white;
}


